.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;

  // Hide the browser's default checkbox
  .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Create a custom checkbox
  .checkbox-border {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10px;
    height: 10px;

    margin-right: 10px;
    border: 1px solid #cbcbcb;

    border-radius: 3px;

    .checkbox-filling {
      width: 10px;
      height: 10px;

      border-radius: 1px;
      background: gray;
    }
  }
}
